API_CA/.settings/
API_CA/API_AGENDA/.classpath
API_CA/API_AGENDA/.gitignore
API_CA/API_AGENDA/.project
API_CA/API_AGENDA/.settings/
API_CA/API_ALOJAMIENTO/.classpath
API_CA/API_ALOJAMIENTO/.gitignore
API_CA/API_ALOJAMIENTO/.project
API_CA/API_ALOJAMIENTO/.settings/
API_CA/API_ALOJAMIENTO/src/test/resources/config.properties
API_CA/API_ALOJAMIENTO/src/test/resources/logback.xml
API_CA/API_AGENDA/src/test/resources/config.properties
API_CA/API_AGENDA/src/test/resources/logback.xml
API_CA/API_APARCAMIENTO/.classpath
API_CA/API_APARCAMIENTO/.gitignore
API_CA/API_APARCAMIENTO/.project
API_CA/API_APARCAMIENTO/.settings/
API_CA/API_AVISOQUEJASUGERENCIA/.classpath
API_CA/API_AVISOQUEJASUGERENCIA/.gitignore
API_CA/API_AVISOQUEJASUGERENCIA/.project
API_CA/API_APARCAMIENTO/src/test/resources/config.properties
API_CA/API_APARCAMIENTO/src/test/resources/logback.xml
API_CA/API_AVISOQUEJASUGERENCIA/.settings/
API_CA/API_AVISOQUEJASUGERENCIA/src/test/resources/config.properties
API_CA/API_AVISOQUEJASUGERENCIA/src/test/resources/logback.xml
API_CA/API_BUSQUEDAINDEXADA/.classpath
API_CA/API_BUSQUEDAINDEXADA/.gitignore
API_CA/API_BUSQUEDAINDEXADA/.project
API_CA/API_BUSQUEDAINDEXADA/.settings/
API_CA/API_BUSQUEDAINDEXADA/src/test/resources/config.properties
API_CA/API_BUSQUEDAINDEXADA/src/test/resources/logback.xml
API_CA/API_CALIDADAIRE/.classpath
API_CA/API_CALIDADAIRE/.gitignore
API_CA/API_CALIDADAIRE/.project
API_CA/API_CALIDADAIRE/.settings/
API_CA/API_CALIDADAIRE/src/test/resources/config.properties
API_CA/API_CALIDADAIRE/src/test/resources/logback.xml
API_CA/API_CALLEJERO/.classpath
API_CA/API_CALLEJERO/.gitignore
API_CA/API_CALLEJERO/.project
API_CA/API_CALLEJERO/.settings/
API_CA/API_CALLEJERO/src/test/resources/config.properties
API_CA/API_CALLEJERO/src/test/resources/logback.xml
API_CA/API_CORE/.classpath
API_CA/API_CORE/.gitignore
API_CA/API_CORE/.project
API_CA/API_CORE/.settings/
API_CA/API_CORE/src/htools/
API_CA/API_CORE/src/test/resources/config.properties
API_CA/API_CORE/src/test/resources/logback.xml
API_CA/API_EQUIPAMIENTO/.classpath
API_CA/API_EQUIPAMIENTO/.gitignore
API_CA/API_EQUIPAMIENTO/.project
API_CA/API_EQUIPAMIENTO/.settings/
API_CA/API_EQUIPAMIENTO/src/test/resources/config.properties
API_CA/API_EQUIPAMIENTO/src/test/resources/logback.xml
API_CA/API_INSTALACIONESDEP/.classpath
API_CA/API_INSTALACIONESDEP/.gitignore
API_CA/API_INSTALACIONESDEP/.project
API_CA/API_INSTALACIONESDEP/.settings/
API_CA/API_INSTALACIONESDEP/src/test/resources/config.properties
API_CA/API_INSTALACIONESDEP/src/test/resources/logback.xml
API_CA/API_INTERESTURISTICOS/.classpath
API_CA/API_INTERESTURISTICOS/.gitignore
API_CA/API_INTERESTURISTICOS/.project
API_CA/API_INTERESTURISTICOS/.settings/
API_CA/API_INTERESTURISTICOS/src/test/resources/config.properties
API_CA/API_INTERESTURISTICOS/src/test/resources/logback.xml
API_CA/API_LOCALCOMERCIAL/.classpath
API_CA/API_LOCALCOMERCIAL/.gitignore
API_CA/API_LOCALCOMERCIAL/.project
API_CA/API_LOCALCOMERCIAL/.settings/
API_CA/API_LOCALCOMERCIAL/src/test/resources/config.properties
API_CA/API_LOCALCOMERCIAL/src/test/resources/logback.xml
API_CA/API_MONUMENTO/.classpath
API_CA/API_MONUMENTO/.gitignore
API_CA/API_MONUMENTO/.project
API_CA/API_MONUMENTO/.settings/
API_CA/API_MONUMENTO/src/test/resources/config.properties
API_CA/API_MONUMENTO/src/test/resources/logback.xml
API_CA/API_ORGANIGRAMA/.classpath
API_CA/API_ORGANIGRAMA/.gitignore
API_CA/API_ORGANIGRAMA/.project
API_CA/API_ORGANIGRAMA/.settings/
API_CA/API_ORGANIGRAMA/src/test/resources/config.properties
API_CA/API_ORGANIGRAMA/src/test/resources/logback.xml
API_CA/API_PLANTILLA/.classpath
API_CA/API_PLANTILLA/.gitignore
API_CA/API_PLANTILLA/.project
API_CA/API_PLANTILLA/.settings/
API_CA/API_PLANTILLA/src/test/resources/config.properties
API_CA/API_PLANTILLA/src/test/resources/logback.xml
API_CA/API_PUNTOWIFI/.classpath
API_CA/API_PUNTOWIFI/.gitignore
API_CA/API_PUNTOWIFI/.project
API_CA/API_PUNTOWIFI/.settings/
API_CA/API_PUNTOWIFI/src/test/resources/config.properties
API_CA/API_PUNTOWIFI/src/test/resources/logback.xml
API_CA/API_SUBVENCION/.classpath
API_CA/API_SUBVENCION/.gitignore
API_CA/API_SUBVENCION/.project
API_CA/API_SUBVENCION/.settings/
API_CA/API_SUBVENCION/src/test/resources/config.properties
API_CA/API_SUBVENCION/src/test/resources/logback.xml
API_CA/API_TRAMITE/.classpath
API_CA/API_TRAMITE/.gitignore
API_CA/API_TRAMITE/.project
API_CA/API_TRAMITE/.settings/
API_CA/API_TRAMITE/src/test/resources/config.properties
API_CA/API_TRAMITE/src/test/resources/logback.xml
API_CA/API_WEB/.classpath
API_CA/API_WEB/.gitignore
API_CA/API_WEB/.project
API_CA/API_WEB/.settings/
API_CA/rdfGeneratorZ/.settings/
API_CA/rdfGeneratorZ/.classpath
API_CA/rdfGeneratorZ/.gitignore
API_CA/rdfGeneratorZ/.project
API_CA/utils/alzir/
liquibase_CA/.classpath
liquibase_CA/.gitignore
liquibase_CA/.project
liquibase_CA/.settings/
API_CA/.project
/.metadata/
*.log
Servers/
API_CA/API_DSD/.classpath
API_CA/API_DSD/.gitignore
API_CA/API_DSD/.project
API_CA/API_DSD/.settings/
API_CA/API_DSD/src/test/resources/config.properties
API_CA/API_DSD/src/test/resources/logback.xml
API_CA/API_TERRITORIO/.classpath
API_CA/API_TERRITORIO/.gitignore
API_CA/API_TERRITORIO/.project
API_CA/API_TERRITORIO/.settings/
API_CA/API_TERRITORIO/src/test/resources/config.properties
API_CA/API_TERRITORIO/src/test/resources/logback.xml
API_CA/API_PADRON/.classpath
API_CA/API_PADRON/.gitignore
API_CA/API_PADRON/.project
API_CA/API_PADRON/.settings/
API_CA/API_PADRON/src/test/resources/config.properties
API_CA/API_PADRON/src/test/resources/logback.xml
API_CA/utils/datacube/padron_mini.sql
liquibase_CA/src/main/resources/liquibase/db-changelog-script-1.17-PADRON-data.xml
liquibase_CA/src/main/resources/liquibase/db-changelog-script-1.17-PADRON-data-10.xml
liquibase_CA/src/main/resources/liquibase/db-changelog-script-1.17-PADRON-data-2.xml
liquibase_CA/src/main/resources/liquibase/db-changelog-script-1.17-PADRON-data-3.xml
liquibase_CA/src/main/resources/liquibase/db-changelog-script-1.17-PADRON-data-4.xml
liquibase_CA/src/main/resources/liquibase/db-changelog-script-1.17-PADRON-data-5.xml
liquibase_CA/src/main/resources/liquibase/db-changelog-script-1.17-PADRON-data-6.xml
liquibase_CA/src/main/resources/liquibase/db-changelog-script-1.17-PADRON-data-7.xml
liquibase_CA/src/main/resources/liquibase/db-changelog-script-1.17-PADRON-data-8.xml
liquibase_CA/src/main/resources/liquibase/db-changelog-script-1.17-PADRON-data-9.xml
liquibase_CA/target/
API_CA/API_CONTRATOS/.settings/
API_CA/API_CONTRATOS/.classpath
API_CA/API_CONTRATOS/.gitignore
API_CA/API_CONTRATOS/.project
API_CA/API_AGENDAMUNICIPAL/.settings/
API_CA/API_AGENDAMUNICIPAL/.classpath
API_CA/API_AGENDAMUNICIPAL/.gitignore
API_CA/API_AGENDAMUNICIPAL/.project
API_CA/API_AGENDAMUNICIPAL/src/test/resources/config.properties
API_CA/API_AGENDAMUNICIPAL/src/test/resources/logback.xml
API_CA/API_BICICLETAPUBLICA/.classpath
API_CA/API_BICICLETAPUBLICA/.gitignore
API_CA/API_BICICLETAPUBLICA/.project
API_CA/API_BICICLETAPUBLICA/.settings/
API_CA/API_BICICLETAPUBLICA/src/test/resources/logback.xml
API_CA/API_BICICLETAPUBLICA/src/test/resources/config.properties
API_CA/API_CONTRATOS/src/test/resources/config.properties
API_CA/API_CONTRATOS/src/test/resources/logback.xml
API_CA/API_AGENDAMUNICIPAL/target/API_AGENDAMUNICIPAL.jar
API_CA/API_AGENDAMUNICIPAL/target/
API_CA/API_BICICLETAPUBLICA/target/
API_CA/API_AGENDAMUNICIPAL/src/test/resources/config.properties
API_CA/API_AGENDAMUNICIPAL/src/test/resources/logback.xml
API_CA/API_BICICLETAPUBLICA/src/test/resources/config.properties
API_CA/API_BICICLETAPUBLICA/src/test/resources/logback.xml
API_CA/API_CONVENIO/.classpath
API_CA/API_CONVENIO/.gitignore
API_CA/API_CONVENIO/.project
API_CA/API_CONVENIO/.settings/
API_CA/API_CONVENIO/src/test/resources/logback.xml
API_CA/API_PRESUPUESTO/.classpath
API_CA/API_PRESUPUESTO/.gitignore
API_CA/API_PRESUPUESTO/.project
API_CA/API_PRESUPUESTO/.settings/
API_CA/API_PRESUPUESTO/src/test/resources/logback.xml
API_CA/API_TRAFICO/.classpath
API_CA/API_TRAFICO/.gitignore
API_CA/API_TRAFICO/.project
API_CA/API_TRAFICO/.settings/
API_CA/API_TRAFICO/src/test/resources/logback.xml
API_CA/API_CONVENIO/src/test/resources/config.properties
API_CA/API_PRESUPUESTO/src/test/resources/config.properties
API_CA/API_TRAFICO/src/test/resources/config.properties
API_CA/API_CONTRATOS/target/

API_CA/API_CONTAMINACIONACUSTICA/.classpath
API_CA/API_CONTAMINACIONACUSTICA/.gitignore
API_CA/API_CONTAMINACIONACUSTICA/.project
API_CA/API_CONTAMINACIONACUSTICA/.settings/
API_CA/API_CONTAMINACIONACUSTICA/src/test/resources/logback.xml
API_CA/API_CONTAMINACIONACUSTICA/src/test/resources/config.properties
API_CA/API_CONTAMINACIONACUSTICA/target/
API_CA/API_BUS/.classpath
API_CA/API_BUS/.gitignore
API_CA/API_BUS/.project
API_CA/API_BUS/.settings/
API_CA/API_BUS/src/test/resources/logback.xml
API_CA/API_BUS/src/test/resources/config.properties
API_CA/API_WEB/src/main/resources/buildNumber.properties
API_CA/API_EMPLEO/src/test/resources/logback.xml
API_CA/API_EMPLEO/.settings/
API_CA/API_EMPLEO/.project
API_CA/API_EMPLEO/.gitignore
API_CA/API_EMPLEO/.classpath
API_CA/API_EMPLEO/target/
API_CA/API_DEUDA/src/test/resources/logback.xml
API_CA/API_DEUDA/.settings/
API_CA/API_DEUDA/.project
API_CA/API_DEUDA/.gitignore
API_CA/API_DEUDA/.classpath
API_CA/Doc/er/
API_CA/API_EMPLEO/src/test/resources/config.properties
API_CA/API_DEUDA/src/test/resources/config.properties
API_CA/utils/configFile/
