<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2019 Ayuntamiento de A Coruña, Ayuntamiento de Madrid, Ayuntamiento de Santiago de Compostela, Ayuntamiento de Zaragoza, Entidad Pública Empresarial Red.es
    
    This file is part of the Open Cities API, developed within the "Ciudades Abiertas" project (https://ciudadesabiertas.es/).
    
    Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
    You may not use this work except in compliance with the Licence.
    You may obtain a copy of the Licence at:
    
    https://joinup.ec.europa.eu/software/page/eupl
    
    Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the Licence for the specific language governing permissions and limitations under the Licence.

-->

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">

			<Pattern>
				[%-15thread] %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</Pattern>

		</layout>
	</appender>
		<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>apiCiudadesAbiertas.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover. Make sure the path matches the one in the file element or else
             the rollover logs are placed in the working directory. -->
            <fileNamePattern>apiCiudadesAbiertas_%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%-15thread] %d %-4relative  %-5level %logger{35} - %msg%n</pattern>
        </encoder>
</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE"/>
	</root>
	
	
	<!-- Hibernate log -->
	 
	<!-- <logger name="org.hibernate" level="DEBUG" />  
    <logger name="org.hibernate.type" level="ALL" />  -->
         
    <Logger name="org.hibernate.orm.deprecation" additivity="false" level="ERROR" />
    <Logger name="org.springframework.security.oauth2.provider.endpoint.FrameworkEndpointHandlerMapping" additivity="false" level="INFO" />
    <Logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" additivity="false" level="INFO" />    
    <Logger name="springfox.documentation.spring.web.readers.operation.CachingOperationNameGenerator" additivity="false" level="INFO" />  
    <Logger name="io.swagger.models.parameters.AbstractSerializableParameter" additivity="false" level="ERROR" />
    <Logger name="io.swagger.models.parameters.AbstractSerializableParameter" additivity="false" level="WARN" />

</configuration>